<!DOCTYPE html>
<html lang="en">
    <!-- Header Ejs-->
    <%- include("layouts/header"); %>
    <body>
        <!-- nav Ejs-->
        <%- include("layouts/nav"); %>
        <%- include("layouts/stepbystep"); %>
        <!-- Section server -->
        <%- include("servers/server"); %>
        <!-- Section product -->
        <%- include("products/product"); %>
        <!-- Footer-->
        <%- include("layouts/footer"); %>
    </body>
</html>